<!-- Backdrop -->
<div class="modal-backdrop container hidden" id="modalBackdrop">
    <!-- Modal -->
    <div class="modal" id="bookModal">
        <button class="modal-close" id="modalCloseBtn">

            <svg class="modal-close-icon" width="14" height="14">
                <use href="/img/sprite.svg#icon-close"></use>
            </svg>
        </button>

        <div class="modal-content">
            <img id="bookImage" alt="book" />
            <h2 class="book-title" id="bookTitle">Title</h2>
            <p class="book-author" id="bookAuthor">Author</p>
            <p class="book-price" id="bookPrice">$0.00</p>

            <div class="quantity-control">
                <button class="quantity-control-minus" id="decrease"><svg width="8" height="8">
                        <use href="/img/sprite.svg#icon-minus"></use>
                    </svg></button>

                <input class="quantity-control-value" id="quantity" value="1" min="1" />

                <!--  ?????  type="number" -->

                <button class="quantity-control-plus" id="increase"><svg width="8" height="8">
                        <use href="/img/sprite.svg#icon-plus"></use>
                    </svg></button>
            </div>

            <form id="buyForm">
                <button class="formBtn-add" type="button" id="addToCart">Add to Cart</button>
                <button class="formBtn-buy" type="submit">Buy Now</button>
            </form>

            <!-- Повідомлення на сторінці -->
            <p id="message" style="margin-top:10px; color: green;"></p>


            <div class="accordion" id="accordionContainer">
                <div class="accordion-item">
                    <button class="accordion-header"><span class="accordion-header-text">Details</span><span
                            class="accordion-header-icon"><svg width="20" height="14">
                                <use href='/img/sprite.svg#icon-arrow-down'></use>
                            </svg></span></button>
                    <div class="accordion-body" id="bookDetails"></div>
                </div>
                <div class="accordion-item">
                    <button class="accordion-header"><span class="accordion-header-text">Shipping</span><span
                            class="accordion-header-icon"><svg width="20" height="14">
                                <use href='/img/sprite.svg#icon-arrow-down'></use>
                            </svg></span></button>
                    <div class="accordion-body" id="bookShipping"></div>
                </div>
                <div class="accordion-item">
                    <button class="accordion-header"><span class="accordion-header-text">Returns</span><span
                            class="accordion-header-icon"><svg width="20" height="14">
                                <use href='/img/sprite.svg#icon-arrow-down'></use>
                            </svg></span></button>
                    <div class="accordion-body" id="bookReturns"></div>
                </div>
            </div>
        </div>
    </div>
</div>